<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:specialCode.properties"/>

	<bean id="BMW" class="com.XMLConfiguration.BMW">
		<property name="BMWdiscount" ref="BMWdiscount"></property>
		<property name="flag" value="${SPECIALCODE}"></property>
	</bean>
	
	<bean id="Ferrari" class="com.XMLConfiguration.Ferrari" scope="singleton" init-method="init" destroy-method="destroy">
		<constructor-arg ref="FerrariDiscount"></constructor-arg>
		<constructor-arg value="${SPECIALCODE}"></constructor-arg>
	</bean>
	
	<bean id="BMWdiscount" class="com.XMLConfiguration.BMWdiscount">
	</bean>
	
	<bean id="FerrariDiscount" class="com.XMLConfiguration.FerrariDiscount">
	</bean>

</beans>





